# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/Python-3.12.2/Lib/__pycache__
*.pyc
/src/Python-3.12.2/Lib/site-packages
*.pyc
/src/Python-3.12.2/Lib/__pycache__
/src/Python-3.12.2/PCbuild/obj
/src/Python-3.12.2/externals/pythonx86/tools/Lib/__phello__/__pycache__
/src/Python-3.12.2/PCbuild/obj
*.pyc
/src/Python-3.12.2/Lib/asyncio/__pycache__
/src/Python-3.12.2/Lib/__pycache__
/src/Python-3.12.2/externals
